ekzamen20.06.2024/.DS_Store
ekzamen20.06.2024/.vscode/settings.json
ekzamen20.06.2024/.vscode/tasks.json
ekzamen20.06.2024/ekzamen20.06.2024.xcodeproj/project.pbxproj
ekzamen20.06.2024/ekzamen20.06.2024.xcodeproj/project.xcworkspace/contents.xcworkspacedata
ekzamen20.06.2024/ekzamen20.06.2024.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
ekzamen20.06.2024/ekzamen20.06.2024.xcodeproj/project.xcworkspace/xcuserdata/michael.xcuserdatad/UserInterfaceState.xcuserstate
ekzamen20.06.2024/ekzamen20.06.2024.xcodeproj/xcuserdata/michael.xcuserdatad/xcschemes/xcschememanagement.plist
ekzamen20.06.2024/ekzamen20.06.2024/.DS_Store
ekzamen20.06.2024/ekzamen20.06.2024/main
ekzamen20.06.2024/ekzamen20.06.2024/main.dSYM/Contents/Info.plist
ekzamen20.06.2024/ekzamen20.06.2024/main.dSYM/Contents/Resources/DWARF/main
ekzamen20.06.2024/ekzamen20.06.2024/Output.txt